.App {
  background-color: $grey-color;

}

.container-post {
  margin-right: 20px;
  text-align: center;

  @include create-mq($grid__bp-md, "max") {
    margin-right: 0;
  }
}

.inform-page-author {
  color: $grey-lighter-color;
  font-size: 12px;
  letter-spacing: -0.07px;
  line-height: 58px;
  margin: 0;

  a {
    color: #c8c8c8;
  }
}

.container-news {
  display: flex;
  color: $dark-black-color;
  font-family: 'Open Sans', sans-serif;
  @include create-mq($grid__bp-xl, "max") {
    margin-left: $indent;
    margin-right: $indent;
    display: block;
  }
}

.container-action {
  text-align: center;

  @include create-mq($grid__bp-xl, "min") {
    width: 378px;
  }

}


.author-post {
  // height: 25px;
  color: $dark-black-color;
  font-size: 16px;
  letter-spacing: -0.1px;
  line-height: 46px;
  text-transform: uppercase;
  @include create-mq($grid__bp-md, "max") {
    // margin-left: 10%;
    padding: 10px 0;
    // margin-right: $indent;
    display: block;
  }

}

.container-author {
  p {
    color: $dark-black-color;
    font-size: 16px;
    letter-spacing: -0.1px;
    line-height: 24px;
  }
}

.container-author li:hover {
  opacity: 0.5;
}

.container-author li {
  width: 22px;
  height: 22px;
  background-color: $grey-lighter-color;
}

.container-post {
  text-align: left;
}

.author-post-style {
  color: $grey-lighter-color;
}

.container-author {
  width: 774px;
  padding-top: 43px;
  padding-bottom: 43px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  background-color: $white-color;
  color: $dark-black-color;
  text-align: center;
  margin-bottom: 20px;
  @include create-mq($grid__bp-xl, "max") {
    width: 100%;
  }
  p{
    padding-bottom: 32px;
  }

}

.container-search {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  background-color: $white-color;
  margin-bottom: 20px;
  @include create-mq($grid__bp-xl, "max") {
    width: 100%;
  }

  input {
    height: 83px;
    border: none;
    margin-left: 25px;
  }

}


.item-news {
  margin-bottom: 100px;

  @include create-mq($grid__bp-xl, "max") {
    text-align: center;
  }

  img {
    width: 774px;
    height: 546px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    background-color: $white-color;
    margin-bottom: 20px;

    @include create-mq($grid__bp-xl, "max") {
      width: 75%;
      height: 50%;
    }

  }
}

.post-item-title a {
  color: black;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: -0.22px;
  line-height: 46px;
}


.post-item-title {

  @include create-mq($grid__bp-md, "max") {
    a {
      font-size: 23px;
    }
  }

  a:hover {
    color: $pink-color;
  }
}


.post-item-title:first-letter {
  text-transform: uppercase;
}

.container-subscribe {
  padding-top: 148px;
  margin-bottom: 60px;
  text-align: center;
  @include create-mq($grid__bp-xl, "max") {
    width: 80%;
    padding-top: 25px;

    h2 {
      font-size: 34px !important;
    }
  }
}

.container-subscribe h2 {
  color: $dark-black-color;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: -0.3px;
  line-height: 60px;
}

.container-subscribe p {
  color: $dark-black-color;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.11px;
  line-height: 30px;
}


.container-subscribe {

  input {
    width: 353px;
    height: 70px;
    padding-left: 29px;
    margin-left: 108px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
    border: none;
    background-color: $white-color;
    color: $dark-black-color;
    font-size: 16px;
    letter-spacing: -0.1px;
    line-height: 46px;
  }

  button {
    width: 170px;
    height: 72px;
    border: none;
    border-radius: 40px;
    background-color: $pink-color;
    color: $white-color;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.5px;
    margin-left: -31px;
  }
}

.subscribe-form {

  padding-top: 20px;

  form {
    display: flex;
    flex-direction: row;
    border-radius: 40px;

    @include create-mq($grid__bp-xl, "max") {
      display: block;

      input {
        width: 100%;
        border-radius: 40px;
        padding-right: 20px;
        margin-bottom: 10px;
      }

      button {
        margin-left: 0;
        width: 100%;
      }
    }
  }

  input {
    border: none;
    @include create-mq($grid__bp-xl, "max") {
      margin: 0;

    }
  }

  input:focus {
    outline: none;
  }

}

.container-small-subscribe {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  background-color: $white-color;
  text-transform: uppercase;
  padding-top: 29px;
  padding-bottom: 52px;
  margin-bottom: 20px;
  margin-top: 20px;

  h2 {
    margin-bottom: 43px;
  }

  @include create-mq($grid__bp-xl, "max") {
    display: none;


  }
}

.container-small-subscribe .subscribe-form form {

  input {
    width: 205-16px;
    height: 42px;
    padding-left: 16px;
    margin-left: 48px;
    border: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.14);
    border-radius: 40px;
    background-color: $white-color;
  }

  button {
    width: 103px;
    height: 42px;
    border: none;
    border-radius: 40px;
    background-color: $pink-color;
    margin-left: -42px;
    color: $white-color;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.29px;


  }
}

.container-social-media {
  color: $dark-black-color;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  background-color: $white-color;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.11px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-top: 29px;
  padding-bottom: 36px;
  @include create-mq($grid__bp-xl, "max") {
    width: 100%;
  }
}

.container-adsbanner {
  display: flex;
  height: 305px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  background-color: $white-color;
  margin-bottom: 20px;
  margin-top: 20px;
  justify-content: center;

  @include create-mq($grid__bp-xl, "max") {
    display: flex;
    margin-top: 0;
    margin-right: 3%;
  }

  @include create-mq($grid__bp-lg, "max") {
    display: none;
  }


}

.container-adsbanner h2 {
  margin-top: 140px;
  color: $dark-black-color;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.11px;
  line-height: 30px;
  text-transform: uppercase;
}

