.pagination {
  display: flex;
  text-align: center;
  @include create-mq($grid__bp-xl, "max") {
    width: 100%;
    justify-content: center;
  }


  .break {
    background-color: white;
  }

  li {
    display: inline-block;
  }

  button {
    border-radius: 50%;
    width: 79px;
    height: 79px;
    background-color: #f1f1f1;
    color: $dark-black-color;
    margin-left: 20px;
    text-align: center;
    @include create-mq($grid__bp-lg, "max") {
      width: 38px;
      height: 27px;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    button {
      display: block;
      font-size: 18px;
      font-weight: 600;
      letter-spacing: -0.11px;
      line-height: 30px;

    }
  }
}

.pagination button:active {
  background-color: $pink-color;
  color: white;

  button {
    color: white;
    opacity: 1;
  }

}

.pagination button:hover {
  background-color: $grey-lighter-color;

  button {
    color: white;
  }
}

.pagination button:active {
  background-color: $pink-color;

  button {
    color: $white-color;
  }
}