//.pagination {
//  display: flex;
//  list-style: none;
//  padding-top: 50px;
//  justify-content: space-between;
//
//li{
//  display: inline-block;
//}
//  .item-page button {
//
//
//    border-radius: 50%;
//    width: 79px;
//    height: 79px;
//    padding-top: 25px;
//    background-color: #f1f1f1;
//    margin-left: 20px;
//    align-items: center;
//  }
//  li:first-child {
//    margin-left: 0px;
//  }
//}


.pagination {
  display: flex;
  text-align: center;

  .break {
    background-color: white;
  }

  li {
    display: inline-block;
    border-radius: 50%;
    width: 79px;
    height: 54px;
    padding-top: 25px;
    background-color: #f1f1f1;
    margin-left: 20px;
    align-items: center;
    @include create-mq($grid__bp-lg, "max") {
      width: 38px;
      height: 27px;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    a {
      display: block;
      font-family: "Open Sans Semibold";
      color: #111210;
      font-size: 18px;
      font-weight: 600;
      letter-spacing: -0.11px;
      line-height: 30px;

    }
  }
}
.pagination li:active {
  background-color: #ff5480;
  color: white;
  a {
    color: white;
    opacity: 1;
  }

}
.pagination li:hover{
  background-color: #9b9b9b;
  a{
    color: white;
  }
}
