.container-poppost {
  width: 378px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  background-color: #ffffff;
  padding-top: 32px;
  margin-bottom: 20px;
  @include create-mq($grid__bp-lg, "max") {
    width: 100%;
    margin-top: 20px;
  }

  h2 {
    font-family: "Open Sans";
    color: #111210;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.11px;
    line-height: 30px;
    text-transform: uppercase;
  }

}

.item-popular-post {
  display: flex;
  padding-bottom: 50px;
  margin-left: 27px;
  text-align: left;
  height: 80px;
  @include create-mq($grid__bp-lg, "max") {
    width: 100%;

  }

  div {
    flex-direction: column;
    margin-right: 20px;
    height: 80px;
    @include create-mq($grid__bp-lg, "max") {
    }

  }

  img {
    width: 80px;
    height: 80px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    background-color: #ffffff;
  }

  .title-poppost {
    padding-top: 2px;
    max-width: 241px;
    height: 53px;
    font-family: "Open Sans";
    color: #000000;
    font-size: 16px;
    font-weight: 600;

    @include create-mq($grid__bp-lg, "max") {
    }

    h3 {
      width: 241px;
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: 600;
      margin: 0;

    }

    a {
      color: #000000;
    }

    h3:first-letter {
      text-transform: uppercase;
    }

    p {
      color: #9b9b9b;
      font-size: 16px;
      text-transform: uppercase;
      margin: 0;
    }

    a:hover {
      color: #ff5480;
    }
  }
}

.container-recentpost {
  p {
    font-family: "Open Sans";
    color: #9b9b9b;
    font-size: 16px;
    letter-spacing: -0.1px;
    text-transform: uppercase;
    margin: 0;
  }
}