.container-search {
  height: 83px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  background-color: #ffffff;
  justify-content: space-between;
  @include create-mq($grid__bp-xl, "max") {
    display: none;
  }

  .td {
    display: table-cell;
    vertical-align: middle;
  }
  
  
  input[type="text"] {
    height: 83px;
    font-family: "Open Sans";
    color: #9b9b9b;
    font-size: 14px;
    letter-spacing: -0.09px;
    line-height: 10px;
  }
  
  button {
    position: relative;
    display: block;
    border: none;
    background-color: white;
    margin-left: 129px;
  }
  
  .fa-search {
    display: block;
    height: 40px;
    width: 40px;
  }
  
  .window-results-search {
    display: flex;
    position: absolute;
    padding-top: 32px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    border: 1px solid #9b9b9b;
    background-color: #f9f9fb;
    z-index: 4;
  
    a {
      color: #111210;
      height: 50px;
    }
  
    a:first-letter {
      text-transform: uppercase;
    }
  
    a:hover {
      color: #ff5480;
    }
  } 
}