.container-slider {
  height: 317px;
  width: 378px;
  padding-top: 20px;
  line-height: 46px;
  z-index: 4;

  @include create-mq($grid__bp-xl, "max") {
    width: 100%;
    .slick-prev, .slick-next {
      display: none;
    }
  }
}

.slick-slider div {
  div {
    width: 197px;
    height: 285px;
    margin: 0;
  }
}

.slick-initialized .slick-slide {
  width: 197px !important;
  height: 225px;
}

.container-slider div .slick-dots {
  display: none !important;
}


.container-slider .slick-slide {

  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  background-color: #ffffff;
  margin-left: 21px;

  img {
    width: 197px;
    height: 225px;
  }
}

.container-slider .slide-style {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  background-color: #ffffff;
}

.container-slider .slick-next:before {
  display: block;
  margin-left: -50px;
  margin-top: -40px;
  width: 32px;
  height: 32px;
  color: rgba(0, 0, 0, 0) !important;
  background-image: url("../../images/newpage/right-arrow_(1).png");
  background-repeat: no-repeat;

}

.slider-title-home {

  color: black;
}

.container-slider-home div {
  width: 1169px;
  @include create-mq($grid__bp-xl, "max") {
    width: 80%;
    padding: 0;
    .slick-prev, .slick-next {
      display: none;
    }
  }
}

.cards-title-slider {
  color: #111210;
  font-family: "Open Sans";
  font-size: 2.25rem;
  font-weight: 700;
  letter-spacing: -0.014rem;
  line-height: 2.875rem;
  margin: 0;
}

.cards-name-slider {
  display: flex;
  justify-content: space-between;
  padding-bottom: 53px;
}

.cards-view-all-slider {
  color: #111210;
  font-family: "Open Sans";
  font-size: 1rem;
  letter-spacing: -0.006rem;
  line-height: 2.875rem;
}

.container-slider-home div {

  @include create-mq($grid__bp-xl, "max") {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}

div .slick-slide .slick-cloned {
  @include create-mq($grid__bp-xl, "max") {
    padding: 0;

  }
}

div .slick-slide {
  @include create-mq($grid__bp-xl, "max") {
    padding: 0;
    text-align: center;

  }
}

div .data-simple-slider {
  @include create-mq($grid__bp-xl, "max") {
    padding: 0;

  }
}