.container-slider {
  height: 317px;
  width: 378px;
  padding-top: 20px;
  line-height: 46px;
  @include create-mq($grid__bp-xl, "max") {
    width: 80%;
    padding-left: 10%;
    .slick-prev, .slick-next{
      display: none;
    }
  }
}

div .slick-dots {
  display: none !important;
}


.slick-slide {
  width: 197px !important;
  height: 225px !important;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  background-color: #ffffff;
  margin-left: 21px;

  img {
    width: 197px !important;
    height: 225px !important;
  }
}

.slide-style {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  background-color: #ffffff;
}

.slick-next:before {
  display: block;
  margin-left: -50px;
  width: 32px;
  height: 32px;
  color: rgba(0, 0, 0, 0) !important;
  background-image: url("../../images/newpage/right-arrow_(1).png");
  background-repeat: no-repeat;

}