.article-container {
  position: relative;
  background-color: #f9f9fb;
  @include create-mq($grid__bp-xl, "max") {
    padding-left: $indent;
    padding-right: $indent;
  }
}

.article {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0px 0 146px;

  @include create-mq($grid__bp-lg, "max") {
    padding-top: 20px;
    flex-direction: column;
    text-align: center;
  }
  a {
    text-decoration: none;
    color: #111210;
  }
  a:hover {
    opacity: 0.5;
  }
  img {
    max-width: 573px;
    height: 358px;
    border-radius: 8px;
    background-color: #ffffff;
    margin-bottom: 20px;
    @include create-mq($grid__bp-md, "max") {
      height: auto;
      max-width: 100%;
    }
  }
}

.col-article:first-child {
  padding-right: 23px;
  padding-bottom: 40px;
}

.article-author {
  max-width: 24.313rem;
  text-transform: uppercase;
  @include create-mq($grid__bp-lg, "max") {
    max-width: 100%;
    padding-bottom: 20px;
  }
}

.style-prepositions-article {
  color: #9b9b9b;
}

.article-title {
  width: 35rem;
  margin: 0;
  color: #111210;
  font-family: "Open Sans";
  font-size: 1.75rem;
  font-weight: 700;
  letter-spacing: -0.011rem;
  line-height: 2.875rem;
  @include create-mq($grid__bp-lg, "max") {
    width: 100%;
  }
}

.article-content {
  width: 32.688rem;
  opacity: 0.7;
  color: #9b9b9b;
  font-size: 1rem;
  letter-spacing: -0.006rem;
  line-height: 2rem;
  @include create-mq($grid__bp-lg, "max") {
    width: 100%;
  }
}
