.article-container  {
  position: relative;
  background-color: #f9f9fb;
}
.article {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0px 0 146px;



  a {
    text-decoration: none;
    color: #111210;
      }

  a:hover {
    opacity: 0.5;
  }

  img {
    max-width: 573px;
    height: 358px;
    border-radius: 8px;
    background-color: #ffffff;
    margin-bottom: 20px;
  }
}
  .col-article {
    padding-right: 23px;
  }

  .article-author {
    max-width: 24.313rem;
    height: 1.563rem;
    text-transform: uppercase;
  }

  .style-prepositions-article {
    color: #9b9b9b;
  }

  .article-title {
    width: 35rem;
    height: 6.063rem;
    margin: 0;
    color: #111210;
    font-family: "Open Sans";
    font-size: 1.75rem;
    font-weight: 700;
    letter-spacing: -0.011rem;
    line-height: 2.875rem;

  }

  .article-content {
    width: 32.688rem;
    height: 5.063rem;
    opacity: 0.7;
    color: #9b9b9b;
    font-size: 1rem;
    letter-spacing: -0.006rem;
    line-height: 2rem;

  }
