.footer-container {
  position: relative;
}

.footer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 26px 40px 26px 20px;
  @include create-mq($grid__bp-lg, "max") {
    width: 80%;
    padding: 0;
    margin-left: 10%;

  }
}

.footer-logo {
  opacity: 0.2;
  margin-top: 7px;
  @include create-mq($grid__bp-md, "max") {
    display: none;
  }
}

footer .footer-list-icon {
  padding-top: 10px;
  justify-content: center;
  text-align: center;

  @include create-mq($grid__bp-md, "max") {
    display: none;
  }


  a {
    text-decoration: none;
  }

  a:hover {
    opacity: 0.5;
  }
}

.style-icon {
  color: white;
}

.footer-site-inform {
  position: initial;
  color: #9b9b9b;
  font-family: "Open Sans";
  font-size: 0.875rem;
}

.footer-list-icon li {
  display: inline-block;
  margin-left: 20px;
  width: 20px;
  height: 20px;
  padding-top: 2px;
  background-color: #9b9b9b;
  border-radius: 50px;
  opacity: 0.8;

}

.container-social-media li {
  width: 37px;
  height: 33px;
  padding-top: 6px;
  background-color: #ff5480;
}
.container-social-media li:hover {
  opacity: 0.5;
}
