.pagination {
  display: flex;
  list-style: none;
  padding-top: 50px;
  justify-content: space-between;


  ul li {

    display: inline-block;
    border-radius: 50%;
    width: 79px;
    height: 54px;
    padding-top: 25px;
    background-color: #f1f1f1;
    margin-left: 20px;
    align-items: center;
  }
  li:last-child {
    margin-left: 0px;
  }
}

.pagination {
  .break {
    background-color: white;
  }
}

.pagination a {
  width: 21px;
  height: 30px;
  font-family: "Open Sans";
  color: #111210;
  opacity: 0.5;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.11px;
  line-height: 30px;

}

.pagination li:hover {
  background-color: #ff5480;

  a {
    color: white;
    opacity: 1;
  }

}
