$white-color: #fff;
$pink-color: #ff5480;
$violet-color:#290063;
$light-white:#d8d8d8;
$dark-violet: #1b0042;
$black-color: #000000;
$dark-black-color: #111210;
$grey-color: #f9f9fb;
$grey-light-color: #4a4a4a;
$blue-color: #27aeff;
$purple-color: #9283e0;
$indent: 15px;
$grey-lighter-color: #9b9b9b;
